pandas
numpy
boto3
pymongo
openai
requests
flask-cors
python-dotenv
flask_pymongo
matplotlib
scikit-learn
tqdm
pytest
certifi
colorama
pytz # pst time zones
tenacity


#python3 -m venv venv
#source venv/bin/activate  

#pip install -r requirements.txt
